.Dark {
    background-color: var(--very-dark-blue);
}

@media (max-width: 720px) {
    .Dark {
        background-image: url('/src/assets/images/bg-mobile-dark.jpg');
    }
}

@media (min-width: 720px) {
    .Dark {
        background-image: url('/src/assets/images/bg-desktop-dark.jpg');
    }
}