.Light {
    background-color: var(--very-light-gray);
  }
  
  @media (max-width: 720px) {
    .Light {
        background-image: url('/src/assets/images/bg-mobile-light.jpg');
    }
  }
  
  @media (min-width: 720px) {
    .Light {
        background-image: url('/src/assets/images/bg-desktop-light.jpg');
    }
  }