.todo {
    border-bottom: 1px solid var(--very-dark-grayish-blue);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    padding: 1rem;

    p {
        width: -webkit-fill-available;
        text-align: left;
    }
}

.todo-check-button {
    border: 1px solid var(--very-dark-grayish-blue);
    background-color: transparent;
    border-radius: 50%;

    width: 40px;
    height: 25px;
    padding: 0rem;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    img {
        display: none;
    }

    &:hover {
        background-image: var(--check-background);
        img {
            display: block;
        }
    }
}

.todo-delete-button {
    background-color: transparent;
    padding: 0rem;
    border: 0px;

    cursor: pointer;
}