#header {
    color: var(--very-light-gray);

    #header-top {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        h1 {
            letter-spacing: 1rem;
        }

        div {
            display: flex;
            align-items: center;
            gap: 1rem;

            img, button {
                cursor: pointer;
            }

            button {
                background-color: transparent;
                background-image: var(--check-background);

                border: 0;
                border-radius: 1rem;
                padding: 0.5rem 1rem;
            }
        }
    }
}