#root {
  width: -webkit-fill-available;
  height: 100vh;
  text-align: center;
}

.App {
  width: -webkit-fill-available;
  height: 100%;

  background-repeat: no-repeat;
  background-size: contain;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  * {
    margin: 0rem;
  }

  font-family: var(--font-family);
}