#root {
  width: -webkit-fill-available;
  height: 100vh;
  text-align: center;
}

.App {
  width: -webkit-fill-available;
  height: 100%;

  background-repeat: no-repeat;
  background-size: contain;
}